*{
	box-sizing: border-box;
}
body{
	width: auto;
	height: auto;
}

header{
	background-color: rgba(255, 99, 134, 0.5);
	font-family: Arial,helvetica,sans-serif;
	text-shadow: 0 0 9px rgba(97, 41, 233, 0.8); 
	text-align: center;
	padding: 15px;
	border-radius: 60px;
	border-style: dashed;
}
p, #vent,#t{
	width: auto;
	height: auto;
	font-family: 'Courier New', Monaco,Monospace;
    font-size: 20px;
	line-height: 1.5;
	letter-spacing: 1px;
}
h2,h3{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(105, 22, 55, 0.5);
}
img{
	max-width: 100%;
	border-radius: 20px;
	 border: 1px solid rgba(171, 154, 162, 0.5);
}
figure{
		font-family: 'Comic Sons Ms',bold,cursive;
	font-size: 20px;
	text-align: center;
}

ul,ol{
	margin: 0;
  padding: 0;
overflow: hidden;
}
ol {
	font-family: 'Courier New', Monaco,Monospace;
    font-size: 20px;
	line-height: 1.5;
	letter-spacing: 1px;
}
li{
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



a:active { color: blue; 
	}       
a:link {
  color:rgba(29, 100, 72, 0.5);
}
a:visited {
   color: lightcoral;
}

.contenedor{
	width: 100%;
}
/*********************Dispositivos pequeños***********************/
@media(min-width: 360px)and (max-width: 640px){
header{
	background-color: rgba(4, 255, 255, 0.5);
	text-shadow: 0 0 9px rgba(150, 86, 100, 0.9);
}
h2,h3{
	background-color: rgba(0, 70, 64, 0.5);
}
}
/******************Dispositivos medianos*********************/
@media(min-width: 768px) and (max-width: 1024px){
header{
	background-color: rgba(134, 108, 71, 0.5);
	text-shadow: 0 0 9px rgba(134, 194, 71, 0.5);
}
h2,h3{
	background-color: rgba(191, 255, 172, 0.8);
}
}
/******************Dispositivos Grnades**********************/
@media(min-width: 1024px) and (max-width: 1366px){
header{
	background-color: hsla(236, 79%, 46%,0.5);
}
h2,h3{
	background-color: rgba(184, 171, 199, 0.8);
}
}